# Review Question 1

In [1]:
cardinal_numbers = ("FIRST", "SECOND", "THIRD")

In [2]:
print(cardinal_numbers[1])

SECOND

In [3]:
position1, position2, position3 = cardinal_numbers
print(position1)
print(position2)
print(position3)

FIRST
SECOND
THIRD

In [4]:
my_name = tuple("FELIX")

In [5]:
print("X" in my_name)

True

In [8]:
new_tuple = my_name[1:]
print(new_tuple)

('E', 'L', 'I', 'X')

# Review Question 2

In [9]:
food = ["RICE", "BEANS"]

In [15]:
food.append("BROCCOLI")

In [16]:
food.extend(["BREAD", "PIZZA"])

In [17]:
print(food[:2])

['RICE', 'BEANS']

In [18]:
print(food[-1])

PIZZA

In [19]:
breakfast = "EGGS, FRUIT, ORANGE JUICE".split(", ")

In [20]:
print(len(breakfast))

3

In [21]:
lengths = [len(item) for item in breakfast]
print(lengths)

[4, 5, 12]

# Review Question 3

In [22]:
data = ((1, 2), (3, 4))

In [23]:
for i, row in enumerate(data, start=1):
    print(f"Row {i} sum: {sum(row)}")

Row 1 sum: 3
Row 2 sum: 7

In [24]:
numbers = [5, 2, 9, 1, 7]   # example list
copy_numbers = numbers[:]

In [25]:
numbers.sort()
print(numbers)

[1, 2, 5, 7, 9]

# Challenge: List of lists

In [26]:
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]

# Example: print all universities with their data
for uni in universities:
    print(f"Name: {uni[0]}, Students: {uni[1]}, Tuition: {uni[2]}")

Name: California Institute of Technology, Students: 2175, Tuition: 37704
Name: Harvard, Students: 19627, Tuition: 39849
Name: Massachusetts Institute of Technology, Students: 10566, Tuition: 40732
Name: Princeton, Students: 7802, Tuition: 37000
Name: Rice, Students: 5879, Tuition: 35551
Name: Stanford, Students: 19535, Tuition: 40569
Name: Yale, Students: 11701, Tuition: 40500

# Challenge: Wax of Poetic

In [27]:
nouns = ["FOSSIL", "HORSE", "AARDVARK", "JUDGE", "CHEF", "MANGO", "EXTROVERT", "GORILLA"]
verbs = ["KICKS", "JINGLES", "BOUNCES", "SLURPS", "MEOWS", "EXPLODES", "CURDLES"]
adjectives = ["FURRY", "BALDING", "INCREDULOUS", "FRAGRANT", "EXUBERANT", "GLISTENING"]
prepositions = ["AGAINST", "AFTER", "INTO", "BENEATH", "UPON", "FOR", "IN", "LIKE", "OVER", "WITHIN"]
adverbs = ["CURIOUSLY", "FURIOUSLY", "SENSUOUSLY", "EXTRAVAGANTLY", "TANTALIZINGLY"]

# Review Question 4

In [28]:
captains = {}

In [29]:
captains["Enterprise"] = "Picard"
captains["Voyager"] = "Janeway"
captains["Defiant"] = "Sisko"

In [30]:
if "Enterprise" not in captains:
    captains["Enterprise"] = "Unknown"

if "Discovery" not in captains:
    captains["Discovery"] = "Unknown"

In [31]:
for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by Unknown.

In [32]:
del captains["Discovery"]

In [34]:
captains2 = dict(
    Enterprise="Picard",
    Voyager="Janeway",
    Defiant="Sisko"
)

In [35]:
capitals_dict = {
    'Alabama': 'Montgomery',
    'Alaska': 'Juneau',
    'Arizona': 'Phoenix',
    'Arkansas': 'Little Rock',
    'California': 'Sacramento',
    'Colorado': 'Denver',
    'Connecticut': 'Hartford',
    'Delaware': 'Dover',
    'Florida': 'Tallahassee',
    'Georgia': 'Atlanta',
}
for state, capital in capitals_dict.items():
    print(f"The capital of {state} is {capital}.")

The capital of Alabama is Montgomery.
The capital of Alaska is Juneau.
The capital of Arizona is Phoenix.
The capital of Arkansas is Little Rock.
The capital of California is Sacramento.
The capital of Colorado is Denver.
The capital of Connecticut is Hartford.
The capital of Delaware is Dover.
The capital of Florida is Tallahassee.
The capital of Georgia is Atlanta.